<%- include ("partials/header")%>

<link rel="stylesheet" href="results.css">

<h1>Result Page</h1>

<div class="wrap">
	<% data["Search"].forEach(function(movie){ %>
	<div class="img">
		<img src = <%= movie["Poster"]%>></img>
	</div>
	<div class="info">
		<p><%= movie["Title"] %> - <%= movie["Year"] %></p>
	</div>
	<% }) %>
	<a href="/">Search Again!</a>
</div>	

<%- include ("partials/footer")%>
	
	
